.navbar__change-app-theme-button {
  position: fixed;
  bottom: .75rem;
  left: 1rem;
  width: 100%;
  padding: .5rem 0 .5rem 2.5rem;
  font-size: 1rem;
  max-width: 200px;
  line-height: 1.25rem;
  border-radius: .5rem;
  text-align: left;
  color: var(--major-background-color-dark);
  transition: all .1s ease-in-out;
}

@media (max-width: 940px) {
  .navbar__change-app-theme-button {
    padding: .5rem;
    text-indent: -1000px;
    max-width: 36px;
  }
}

.navbar__change-app-theme-button svg {
  width: 18px;
  height: 18px;
  left: .7rem;
  top: .6rem;
  position: absolute;
}

html[data-theme='dark'] .navbar__change-app-theme-button svg {
  filter: invert(1);
}

.navbar__change-app-theme-button:hover,
.navbar__change-app-theme-button:focus-visible {
  background-color: var(--navigation-btn-background-color-active);
  outline: none;
}

.navbar__change-app-theme-button:active {
  background-color: var(--navigation-btn-background-color-active);
}
