.message-opened__content-wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  padding: 1rem 2rem;
  background-color: var(--minor-background-color-light);
  border-radius: .5rem;
}
